* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

/* header */
header {
    padding-bottom: 20px;
}

header img {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 2%;
}

header nav {
    display: inline;
}

header a {
    text-decoration: none;
    color: black;
    margin-right: 2%;
    vertical-align: 30%;
}

.more_margin {
    margin-left: 27%;
}

.blue_button {
    background-color: #0061ff;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
}

/* jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    width: 100%;
    height: 80vh;
    margin-bottom: 7%;
}

.container h1 {
    font-size: 70px;
}

.container {
    padding-left: 10%;
    padding-top: 6%;
    padding-right: 10%;
    margin: auto;
}

.col_sx {
    float: left;
    width: 30%;
}

.jumbotron_text {
    margin-top: 10%;
    line-height: 23px;
    font-size: 15px;
    margin-bottom: 10%;
}

.undo {
    font-size: 12px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.arrow {
    font-size: 40px;
}

.col_dx {
    float: left;
    width: 70%;
}

.col_dx img {
    width: 100%;
    padding-left: 10%;
    padding-top: 4%;
}

/* subscriprion */
.padding_15 {
    padding-left: 15%;
    padding-right: 15%;
}

.subscription {
    width: 100%;
    height: 80vh;
    padding-top: 100px;
}

.subscription h1 {
    font-size: 40px;
}

.subscription input {
    margin-top: 50px;
}

.second_input {
    margin-left: 20px;
}

/* validi per tutte le colonne */
.col {
    float: left;
    width: 28%;
    height: 1000px;
    margin-top: 3%;
    border: solid 1px gray;
}

.margin_right_column {
    margin-right: 7%;
}

.sub_type {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.font_15 {
    font-size: 15px;
}

/* prima colonna */
.sub_name {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin_column {
    padding-left: 20px;
    margin-bottom: 12px;
}

.col h3 {
    font-size: 25px;
}

.margin_top_column {
    margin-top: 30px;
}

.user {
    margin-top: 50px;
}

.font_13 {
    font-size: 13px;
}

.margin_bot {
    margin-bottom: 30px;
}

.try_gratis {
    background-color: #0061ff;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.buy_now {
    color: #0061ff;
    text-decoration: underline;
}

.short_hr {
    color: gray;
    width: 40px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.checkmark {
    float: left;
    margin-right: 5px;
}

/* ultimo abbonamento */
.last_sub {
    border: solid 1px gray;
    height: 200px;
    width: 98%;
    margin-top: 500px;
    content: "";
    clear: both;
    display: table;
}

.last_sub h3 {
    font-size: 25px;
}
